@import "node_modules/bootswatch/dist/lux/_variables.scss";

h1 {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  margin: 2rem;
  color: $body-color;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem;
}



