<article class="card" *ngIf="product">

  <fa-icon [icon]="heartSolid" *ngIf="product.favorite" (click)="changeFavorite(product, $event)" class="favorite-heart"></fa-icon>
  <fa-icon [icon]="heartRegular" *ngIf="!product.favorite" (click)="changeFavorite(product, $event)" class="non-favorite-heart"></fa-icon>
  <img class="card-img-top" [src]="product.image" [alt]="product.name">
  <div class="card-footer">
    <h2>{{product.name}}</h2>
    <div class="prices">
      <span [ngClass]="{'old-price' : product.discount > 0}">{{product.price | currency}}</span>
      <span class="new-price" *ngIf="product.discount > 0">{{product.price * (1 - product.discount) | currency}}</span>
    </div>
  </div>
</article>