<section class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" *ngFor="let banner of panoBanners">
      <img [src]="banner.image"  alt="panoramic promotional banner">
    </div>
  </div>
</section>

<div class="banners-categories">
  <section class="banners">
  <img *ngFor="let bann of regularBanners" [src]="bann.image" alt="promotional banner">
  </section>
  <section class="categories-section">
    <h1>Shop by Category</h1>
    <ul>
      <li><a href="">Women</a></li>
      <li><a href="">Men</a></li>
      <li><a href="">Kids</a></li>
    </ul>
    <!-- todo -->
    <div class="categories-cards"></div>
  </section>
</div>