<section class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.squarespace-cdn.com/content/v1/5367b833e4b0a552a298c223/686c3a82-33db-4baf-8c6b-6e6304484475/Custom-Fashion-Web-Banners-Graphic-Design-Isabel-Castro-net-Miami-Beach-Florida-1.jpg?format=2500w"  alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images.squarespace-cdn.com/content/v1/5367b833e4b0a552a298c223/695686aa-2c00-4603-8225-d2570a47ca62/Custom-Fashion-Web-Banners-Graphic-Design-Isabel-Castro-net-Miami-Beach-Florida-2.jpg?format=2500w"  alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images.squarespace-cdn.com/content/v1/5367b833e4b0a552a298c223/9c98aaf1-8320-46d3-944d-bc466adc57be/Custom-Fashion-Web-Banners-Graphic-Design-Isabel-Castro-net-Miami-Beach-Florida-3.jpg?format=2500w"  alt="...">
    </div>
  </div>
</section>