nav{
  position: relative;
  padding-left: 1.5vw;
  background-color: white !important;
}

img {
  width: 200px;
  aspect-ratio: 412/137;
  position: absolute;
  left: max(50%, 10rem);
  transform: translateX(-50%);
  top: .5rem;
  
}

.second-ul{
  position: absolute;
  display: flex;
  align-items: center;
  column-gap: .5rem;
  margin: 0;
  li{
    margin: 0;
    list-style-type: none;
  }
  right: 2vw;
  top: 2.3rem;
}

@media (width < 768px) {
  .second-ul{
    flex-direction: column;
    top: .7rem;
    align-items: start;
  }
}